body {
    padding: 0;
    margin: 0;
    background: #eee;
}

.root {
    margin: 30px;
    max-width: 500px;
}

.color-picker, 
.text-field {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    margin: 5px 0;
}

#display-text {
    border: 1px dashed darkolivegreen;
    background: #ddd;
    height: 150px;
    width: 300px;
    display: flex;
    justify-content:center
}

#textarea {
    display: block;
    border: none;
    background: none;
    margin: 20px;
    width: 95%;
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
}

#textarea p {
    margin: 0;
    padding: 0;
}